<a href="https://colab.research.google.com/github/siddhartha-svg/Data-Engineering-Techstack-Notes/blob/main/1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.Python Output

### Function : x( ) we can call it as function


```
print( ) ---- Function
def ( )
   return ---- Function
```

In [ ]:
#Python is case sensitive language
print('Hello World')

Hello World

In [ ]:
print('Gautham Bhuddha')

Gautham Bhuddha

In [ ]:
print(Gautham Bhuddha)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-2360637207.py, line 1)

##### In above we haven't mentioned strings '' inverted commas for text we are getting like that

In [ ]:
print(7)

7

In [ ]:
print(7.9)

7.9

In [ ]:
print(True)

True

Core rule first (VERY IMPORTANT)
```
Python understands only 3 things inside print()
1Ô∏è‚É£ Values
2Ô∏è‚É£ Variables (that already exist)
3Ô∏è‚É£ Expressions
```

Without quotes ‚Üí Python thinks it‚Äôs a variable

With quotes ‚Üí Python knows it‚Äôs text (string)


```
Gautham_Bhuddha = "Enlightened One"
print(Gautham_Bhuddha)
```
This one will work

In [ ]:
print('Yes',2,3.4,True)

Yes 2 3.4 True

In [ ]:
print('Yes',2,3.4,True,sep='/')

Yes/2/3.4/True

In [ ]:
print([4,6,9])
print({'a':1})
print({"a":1})

[4, 6, 9]
{'a': 1}
{'a': 1}

##### `print( ) converts all values to strings, joins them using sep, and prints the final result with a newline`.


```
'Yes'   2   3.4   True
   ‚Üì    ‚Üì     ‚Üì      ‚Üì
 "Yes" "2" "3.4" "True"
   ‚Üì    ‚Üì     ‚Üì      ‚Üì
 joined using "/"
   ‚Üì
 Yes/2/3.4/True

```

In [ ]:
print('Hello')
print('World')

Hello
World

In [ ]:
print('Hello', end='-')
print('World')

Hello-World



```
Step 1Ô∏è‚É£ First line executes
print('Hello', end='-')

What happens:
'Hello' is printed
Instead of going to new line, Python prints -

So screen now looks like:
Hello-

(Cursor stays on the same line)

Step 2Ô∏è‚É£ Second line executes

print('World')
This uses default behavior:

Prints 'World'
Then moves to next line

So final output becomes:

Hello-World
```

In [ ]:
# Default Nature of print()
print(value, sep=' ', end='\n')

In [ ]:
print("Hi", end="!")

Hi!

In [ ]:
print("Hi", end="")
print("There")

HiThere

In [ ]:
end="\n"   # new line (default)
end=" "    # space
end="-"    # dash
end="|"    # pipe
end=""     # nothing
end="***"  # stars

In [ ]:
# Printing in same line (loading, progress)
print("Loading", end="...")

#Formatting output
print("Name", end=": ")
print("Ram")

# Printing patterns
print("*", end="")
print("*", end="")
print("*")

#sep + end together
print("A", "B", "C", sep="-", end="!")

In [ ]:
print("A", end="...")
print("Ram", end=":")
print("Laxman")

A...Ram:Laxman

In [ ]:
print(" Ram ", end=": ")
print("Laxman")

 Ram : Laxman

In [ ]:
#Full print() signature
print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)


```
*objects	What to print
sep	Between values
end	After printing
file	Where to print
flush	Force output immediately

Beginner golden rules ü•á
Default end = new line
Change end ‚Üí control line behavior
end="" ‚Üí same line printing
print() always ends with something

```

In [ ]:
#print() for years and never learn file and flush. ---- Need to Learn this one At the end

# 2.Data Types

In Python how many types of data we are using known as data types

In [ ]:
# Integer
print(9)
#1*10^308
print(1e308)
print(1e309)

9
1e+308
inf



```
int ‚Äî Integer (whole numbers)
x = 10

Used for
Counting | Indexing | Loops | IDs

Can do:
+ - * // %
Comparisons

Can‚Äôt:
Hold decimals
Index like a list

Secret:
Python integers have no size limit
```

In [ ]:
#Decimal/Float(Programming Language we call it as Float decimal only)
print(8.9)
print(1.7e308)
print(1.7e309)

8.9
1.7e+308
inf

In [ ]:
#Boolean
print(True)
print(False)

True
False

```
bool ‚Äî Boolean (True / False)
is_active = True

Used for
Conditions
Decisions

Flags
Can do:

Logical operations (and, or, not)

Can‚Äôt:
Store more than two values

Secret:
True == 1
False == 0
```

In [ ]:
# Text/String(Programming language we call text as String)
print('Hello World')

```
str ‚Äî String (text)
name = "Ram"

Used for
Names
Messages
File paths
JSON

Can do:
Indexing
Slicing
Concatenation

Can‚Äôt:
Add number directly
"10" + 5  # Wromg

Secret:
Strings are immutable (cannot change)
```

In [ ]:
#Complex Number
print(5+8j)

(5+8j)

```
float ‚Äî Decimal numbers
pi = 3.14

Used for
Money
Measurements
Percentages

Can do:
Decimal math
Can‚Äôt:
Be 100% precise (rounding issues)

Secret:
0.1 + 0.2 != 0.3
```

In [ ]:
#ListIn Python ---- In  C Language its ---> Array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
#Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [ ]:
#sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [ ]:
#Dictionaries
print({'name': 'Siddhartha', 'age': '25', 'Gender': 'M'})

{'name': 'Siddhartha', 'age': '25', 'Gender': 'M'}

```
dict ‚Äî Key‚Äìvalue pairs (MOST POWERFUL)
user = {"name": "Ram", "age": 25}

Used for
APIs
JSON
Configs
Databases

Can do:
Fast lookup
Structured data

Can‚Äôt:
Use mutable keys
Secret:

Dict lookup is O(1)
```

```
COLLECTION TYPES (VERY IMPORTANT)
list ‚Äî Ordered, changeable
items = [1, 2, 3]

Used for
Storing multiple values
Iteration

Can do:
Add, remove, update
Mixed data types

Can‚Äôt:
Be dictionary key

Secret:
Lists are mutable
```

```
tuple ‚Äî Ordered, NOT changeable
point = (10, 20)

Used for
Fixed data
Coordinates
Performance

Can do:
Faster than list
Used as dict key

Can‚Äôt:
Modify values
Secret:

Tuples are immutable
```

```
set ‚Äî Unique values only
nums = {1, 2, 3}

Used for
Removing duplicates
Membership checks

Can do:
Fast lookup
Math operations

Can‚Äôt:
Store duplicates
Maintain order

Secret:
Sets are unordered
```

```
SPECIAL TYPES (LESS USED BUT IMPORTANT)
NoneType
x = None

Used for
Empty value
Default return

Can‚Äôt:
Do math
Secret:
None ‚â† 0 ‚â† ""
```

```
HOW TO REMEMBER (EASY TRICK)
Rule of 3 buckets

1Ô∏è‚É£ Single value
int
float
str
bool

2Ô∏è‚É£ Multiple values
list
tuple
set

3Ô∏è‚É£ Key‚Äìvalue
dict

DEVELOPER SECRETS
Secret
Use list when data changes
Use tuple when data must not change

Secret
Use set to remove duplicates FAST
unique = set(my_list)

Secret
Most bugs = wrong data type
Always check:
type(x)

Secret
Convert early, avoid surprises
age = int(input())

‚ùå COMMON MISTAKES
"5" + 5        # ‚ùå
[1,2] + 3      # ‚ùå
{1,2}[0]       # ‚ùå
```

In [ ]:
#Type Functon (It shows which data type has been used)
type("Hello")

str

In [ ]:
type(11)

int

In [ ]:
type(1+2j)

complex

In [ ]:
type(11.9)

float

In [ ]:
type([1,2,3])

list

In [ ]:
type(True)

bool

In [ ]:
type((1,2,3,4))

tuple

In [ ]:
type({1,2,3,4})

set

In [ ]:
type({"a":1})

dict

In [ ]:
type(None)

NoneType

#Variables

### variables(storing the information we will use it )

###### static vs dynamic typing
###### statis vs dynamic binding
###### stylish declaration techniques

In [ ]:
name = 'siddhartha'
print(name)

siddhartha

In [ ]:
a = 6
b = 5
print( a + b )

11

In [ ]:
#Dynamic Typing
a = 5

#Static Typing
int a = 5

In [ ]:
#Dynamic Binding
a = "Siddharth"
print(a)
a = 12
print(a)

Siddharth
12

In [ ]:
#Static Binding (c / c++ / Java supports )
int a = 11

#Whatever we assign a value it will be same throughout the program

In [ ]:
a = 1
b = 2
c = 3
print (a ,b ,c )

a,b,c = (1,2,3)
print(a,b,c)

1 2 3
1 2 3

In [ ]:
a=b=c=5
print(a,b,c)

5 5 5

# Comments

In [ ]:
# this is a comment
# this is second line

# 4. Keywords and Identifiers

#######  `Compilation means converting human-readable code into computer-understandable code.`

```
Python uses two steps:
Compile (source code ‚Üí bytecode)
Interpret (bytecode ‚Üí machine actions)

Step-by-step (very simple)
Step 1: You write Python code
x = 10
print(x)

This is called source code.

Step 2: Python COMPILATION happens (automatically)
Python converts your code into something called bytecode.
You don‚Äôt see this normally
It happens behind the scenes
Stored in __pycache__ as .pyc
 This is compilation in Python

Step 3: Python INTERPRETER runs it
Python Virtual Machine (PVM) reads bytecode
Executes it line by line

```

```
Complete List of Python Keywords (Grouped for Easy Understanding)
üü¢1. Logical Keywords
Keyword	  Meaning
and	      Logical AND
or	      Logical OR
not	      Logical NOT


üü¢ 2. Conditional (Decision Making)
Keyword	   Meaning
if	       Condition check
elif	     Else-if condition
else
Otherwise

üü¢ 3. Looping
Keyword	      Meaning
for	          Loop through items
while	        Loop while condition true
break	        Exit loop
continue       Skip iteration
pass	        Do nothing (placeholder)


üü¢ 4. Function & Class
Keyword       	Meaning
def           	Define function
return	        Return value
class	          Define class


üü¢ 5. Exception Handling
Keyword	        Meaning
try	            Try risky code
except	        Handle error
finally	        Always execute
raise	          Raise exception
assert	        Debug check


üü¢ 6. Boolean & None
Keyword	     Meaning
True	       Boolean true
False	       Boolean false
None	       No value


üü¢ 7. Variable Scope
Keyword	    Meaning
global	    Global variable
nonlocal	  Enclosing scope


üü¢ 8. Import & Modules
Keyword	      Meaning
import	      Import module
from	        Import from module
as	          Alias name


üü¢ 9. Loop Control / Flow
Keyword	    Meaning
in	        Membership
is	        Identity check
with      	Context manager
yield	      Generator output


üü¢ 10. Async / Advanced (Good to know)
Keyword	     Meaning
async      	Asynchronous function
await	       Wait for async task


üü¢ 11. Special / Rarely Used
Keyword	     Meaning
lambda	     Anonymous function
del	         Delete object
match      	Pattern matching (Python 3.10+)
case	      Used with match
```

####
```
Dont use above words in anytime in code
```

## Identifiers

###### An identifier is the name you give to something in Python so you can refer to it later.

```
Identifiers are names of:
Variables
Functions
Classes
Modules
Objects
```

```
if = 10   # Not a vlid identifier because `if` is a keyword   --- Not a identifier
```

```
‚úÖ Allowed
Can contain letters, numbers, _
Must start with letter or _
Case-sensitive (age ‚â† Age)

‚ùå Not allowed
Cannot start with number
Cannot contain spaces
Cannot be a Python keyword
```

```
Valid One
name
_age
user1
total_amount
is_active
```

```
1name     # starts with number
first name # space
class     # keyword
total-amt # hyphen
```

In [ ]:
1name = "sid"
print(1name)

SyntaxError: invalid decimal literal (ipython-input-1251404369.py, line 1)

In [ ]:
name1 = "sid"
print(name1)

sid

#5.User Input

### Dynamic software vs static software


##### Once you type something and add into it input and enter it

In [ ]:
input()

fgh

'fgh'

In [ ]:
input(' what is your name')

 what is your namesiddharth

'siddharth'

In [ ]:
input('Email')

Emailnetulasiddhartha891@gmail.com

'netulasiddhartha891@gmail.com'

In [ ]:
# take input from users and store them in a variable
# add the 2 variables
# print the result

# take input from users and store them in a variable
fnum = input (' This is my first number')
snum = input ('This is my second number')
print(type(fnum),type(snum))
print(fnum,snum)
# add the 2 variables
result = fnum + snum
# print the result
print(result)

#we need to change the data type beacuse we got result as like this string kind of

 This is my first number23
This is my second number45
<class 'str'> <class 'str'>
23 45
2345

In [ ]:
fnum = input (' This is my first number')
snum = input ('This is my second number')
print(type(fnum),type(snum))
print(fnum,snum)
# add the 2 variables
result = int(fnum) + int(snum)
# print the result
print(result)
print(type(fnum))

 This is my first number12
This is my second number23
<class 'str'> <class 'str'>
12 23
35
<class 'str'>

In [ ]:
fnum = int(input(' This is my first number'))
snum = int(input('This is my second number'))
# add the 2 variables
result = fnum + snum
# print the result
print(result)
type(result)
print(type(result))

 This is my first number49
This is my second number37
86
<class 'int'>

```
First: what Python REALLY does with your code

Your code (simplified):

fnum = input('This is my first number')
snum = input('This is my second number')

print(type(fnum), type(snum))

üîë BIG RULE (memorize this)

input() ALWAYS returns a string (str)

No matter what you type:
10
20
4.5

üëâ Python stores it as text, not a number.
So:
type(fnum)  ‚Üí str
type(snum)  ‚Üí str


This is 100% expected ‚úÖ

üß† Now this line (MOST IMPORTANT)
result = int(fnum) + int(snum)

What do you think happens vs what actually happens
‚ùå What beginners think:

‚ÄúI converted fnum into int, so now fnum is int‚Äù

‚úÖ What Python actually does:
‚ÄúI temporarily convert the VALUE of fnum to int, use it for calculation, and THROW IT AWAY‚Äù
‚ö†Ô∏è fnum itself is NOT changed
üß† Why fnum is STILL string after conversion

You later do:
print(type(fnum))


Output:
<class 'str'>

Why?
Because this never happened:
fnum = int(fnum)

You only did:
int(fnum)


üëâ That conversion was used once, not stored.
üî• KEY CONCEPT (THIS IS THE SECRET)

Conversion does NOT modify the variable
Assignment modifies the variable

Compare these two:
Case 1 ‚ùå (temporary)
int(fnum)

Case 2 ‚úÖ (permanent)
fnum = int(fnum)


Only Case 2 changes fnum.

üß† Visual Memory Model (VERY IMPORTANT)
Think like this:
fnum  ‚îÄ‚îÄ‚îÄ‚ñ∂  "10"   (string)

When you do:
int(fnum)

Python does:
"10" ‚Üí 10 ‚Üí used ‚Üí gone ‚ùå


But fnum still points to "10".

üß† Correct version (if you WANT fnum to become int)
fnum = int(fnum)
snum = int(snum)

result = fnum + snum


Now:

type(fnum) ‚Üí int

üîë WHY Python behaves this way (important understanding)
Strings are immutable
int() creates a new object
Python never changes the old object automatically
You must explicitly assign

üëâ Python avoids hidden side effects

üß† WHEN THIS USUALLY HAPPENS (very common)

This confusion happens when:
Using input()
Doing type conversion
Doing math with user input
Learning Python for the first time üòÑ
You are EXACTLY where you should be üëç

üî• Common beginner traps (avoid these)
‚ùå Trap 1
int(fnum)
print(type(fnum))  # still str

‚ùå Trap 2
result = fnum + snum   # string concatenation

‚úÖ Correct thinking
number = int(fnum)

üß† SIMPLE RULE TO REMEMBER FOREVER
If you want to change a variable, assign it back
Say this in your head:
‚ÄúConvert ‚Üí assign ‚Üí use‚Äù

üéØ Interview-style one-liner
input() returns a string, and type conversion functions like int() return a new value. The original variable remains unchanged unless reassigned.

üß† 3 QUICK TIPS & SECRETS
üîπ Tip 1: Always convert input early
age = int(input("Enter age: "))

üîπ Tip 2: Print types while learning
print(type(variable))

üîπ Tip 3: Think in objects, not variables

Variables just point to values.
```

#6.Type Conversion

In [ ]:
#Implicit and Explicit


#Implicit
print(5+5.6)
print(type(5),type(5.6))
type(5)

10.6
<class 'int'> <class 'float'>

int

In [ ]:
#Explicit
print(5 + '6')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
int('4')

4

In [ ]:
#str ---> Integer
int('4')
type(int('4'))

int

In [ ]:
type(int(4.5))

int

```
My doubt is why cant we change this type(int('4.5')) and keep it like this . we are getting error why


Now here is  üëâ int() converts a value into an integer, but only if Python knows how to convert it safely.
```
```
Case 1Ô∏è‚É£
type(int('4'))
What is '4'?
It‚Äôs a string
But it represents a whole number
Python thinks:
‚ÄúOkay, this string looks exactly like an integer.‚Äù
So:
int('4')  ‚Üí  4
type(...) ‚Üí int
‚úÖ Valid


Case 2
type(int(4.5))

What is 4.5?
It‚Äôs a float
Python rule:
‚ÄúWhen converting float ‚Üí int, I will drop the decimal part (not round).‚Äù
So:

int(4.5) ‚Üí 4
type(...) ‚Üí int


‚úÖ Valid (but decimal is lost)
Case 3 (Your main doubt ‚ùó)
‚ùå type(int('4.5'))
What is '4.5'?
It‚Äôs a string

It contains a decimal point
Python now thinks:
‚ÄúThis is NOT a pure integer string.‚Äù
So Python says:
ValueError: invalid literal for int()
‚ùå Not allowed

üß† VERY IMPORTANT RULE (This clears everything)
int() only accepts:
Integers
Strings that look like whole numbers

‚úÖ Allowed:
int('10')
int('-3')
int(5.9)


‚ùå Not allowed:
int('4.5')
int('3.14')
int('ten')

‚úÖ Then how DO we convert '4.5' properly?
You must go step by step, like Python wants.
Correct thinking:
'4.5' ‚Üí looks like a float
Convert string ‚Üí float
Convert float ‚Üí int
int(float('4.5'))


Now Python is happy üòÑ
üß† Why Python is strict here (important concept)
Python does not guess.
If Python allowed:
int('4.5')
```

In [ ]:
int(4+5j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'



```
These strings can be converted:

float("4")        # 4.0
float("4.0")      # 4.0
float("0.5")      # 0.5
float("-3.2")     # -3.2
float("10")       # 10.0
```



```
INVALID String ‚Üí Float Conversions

These will FAIL:

float("4.5.6")   # ‚ùå multiple dots
float("abc")     # ‚ùå letters
float("4,5")     # ‚ùå comma
float(" ")       # ‚ùå empty space
float("ten")     # ‚ùå word
```



```
value = "4.9"
num = int(float(value))
Steps:
"4.9" ‚Üí float ‚Üí 4.9
4.9 ‚Üí int ‚Üí 4
üëâ Decimal is cut, not rounded
```

```
TYPE CONVERSION MAP (Python)
üîµ INTEGER (int) ‚Üí What can it convert to?
Convert to	    How	           Works?
float        	 float(5)	      ‚úÖ
str	             str(5)	          ‚úÖ
bool	         bool(5)	      ‚úÖ (True)
int	             int(5)	          ‚úÖ (same)

‚ùå Cannot convert directly to:

list, dict, set (without logic)

üîµ FLOAT (float) ‚Üí What can it convert to?
Convert to	   How	        Works?
int	         int(4.7)	               ‚úÖ (decimal lost)
str	         str(4.7)	               ‚úÖ
bool	       bool(0.0)               ‚úÖ (False)
float	       float(4.7)              ‚úÖ

‚ùå Direct conversion issues:

Float string with letters ‚Üí error

üîµ STRING (str) ‚Üí What can it convert to?
Convert to	         Condition	                  Works?
int	               string looks like integer	        ‚úÖ
float	            string looks like float       	‚úÖ
bool	            always True if not empty      	‚ö†Ô∏è
str	               always	                        ‚úÖ

Examples:

int("10")     # ‚úÖ
float("3.5")  # ‚úÖ
bool("abc")   # True
bool("")      # False


‚ùå Errors:

int("3.5")    # ‚ùå
float("abc")  # ‚ùå

üîµ BOOLEAN (bool) ‚Üí What can it convert to?
Convert      to	                  Result
int	                           True ‚Üí 1, False ‚Üí 0
float	                         True ‚Üí 1.0
str	                            "True" / "False"
bool	                             same
üü¢ COLLECTION CONVERSIONS (Bonus)
From	           To	                     Works?
list	             tuple	                      ‚úÖ
tuple	             list	                      ‚úÖ
list	             set	                      ‚úÖ
set	                 list	                    ‚úÖ
dict	list	‚ö†Ô∏è keys only

Example:

list((1,2))
set([1,1,2])
list({"a":1})   # ['a']

üß† HOW TO DECIDE IF CONVERSION IS POSSIBLE (GOLD RULE)

Ask two questions:

1Ô∏è‚É£ Does the data make sense in the target type?

"abc" ‚Üí number ‚ùå

"4.5" ‚Üí float ‚úÖ

2Ô∏è‚É£ Is Python allowed to lose information?

float ‚Üí int ‚Üí ‚ùå decimal lost (allowed)

string ‚Üí int ‚Üí ‚ùå if format unclear

üî• SUPER IMPORTANT TRUTHS (REMEMBER THESE)
üîπ Truth 1
input() ‚Üí always string
üîπ Truth 2
Python never guesses during conversion
üîπ Truth 3
Some conversions lose data (float ‚Üí int)

üß† ONE-LINE MEMORY FORMULA
Numbers ‚Üî Numbers ‚Üí easy
Text ‚Üí Number ‚Üí only if format matches
Anything ‚Üí String ‚Üí always works
```

#7.Literals

In [ ]:
a = 0b1010   #Binary Literals
b = 100      #Decimal Literals
c = 0o310    #Octal Literal
d = 0x12c    #Hexadecimal Literal



#Float literal
float_1  = 10.5
float_2  = 1.5e2  #1.5*10^2--150
float_3  = 1.5e-3 #1.5*10^-3 ----

#Complex Lieral
x=3.14j

print(a)
print(a, b, c, d)
print(float_1, float_2, float_3)
print(x, x.img, x.real)

10
10 100 200 300
10.5 150.0 0.0015

In [ ]:
x=3.14j
print(x.real)

0.0

In [ ]:
x=3.14j
print(x.imag)

3.14

In [ ]:

print(1.5e3)

1500.0

In [ ]:
string = 'This is a python'
strings = "This is a python "
char = "C"
multiline_str = """ This is a multiine string with more than one line code """
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str= r"raw \n string"


print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is a python
This is a python
C
 This is a multiine string with more than one line code
üòÄüòÜü§£
raw \n string

In [ ]:
a = True + 4
b = False + 10

print("a:", a)
print("b", b)

#Here booleans treated as 0 and 1 values in python

a: 5
b 10

In [ ]:
a = None
print(a)

None

In [ ]:
k
a = 5
b = 6
print('Progam is important')

NameError: name 'k' is not defined

In [ ]:
k = None
a = 5
b = 6
print('Progam is important')

Progam is important

In [ ]:
from google.colab import drive
drive.mount('/content/drive')